html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: grid;
    margin: 0px 100px 0px 100px;
    background-color: white;
}

/*----- Header -----*/

.nav-text {
    text-align: center;
    padding-top: 10px;
    float: left;
}

.nav-text h2 {
    font-size: 1.7em;
}

.nav-text h3 {
    font-size: 1.4em;
    font-style: italic;
}

.items {
    padding: 13px 0px 7px 0px;
    float: right;
    display: inline;
    
}

.items a:hover {
    text-decoration: none;
    color: orange;
}

li {
    list-style-type: none;
    font-size: 1.2em;
}

nav li {
    display: inline;
}

/*----- About -----*/

#about, #portfolio, #skills  {
    padding-top: 25px;
}

.about-container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
.about-text {
    width: 40%;
  }
  
  .about-image{
    float: right;
    width: 50%;

}

img {
    float: right;
    width: 50%;
}

#about h1 {
    color: orange;
    text-shadow: 1px 1px 1px black;
}
/*----- Portfolio -----*/

#portfolio h2 {
    color: orange;
    text-shadow: 1px 1px 1px black;
}

#portfolio h3 {
    text-align: center;
}

.portfolio-container {
    display: inline-flex;
    margin-bottom: 20px;
   
}

figure img {
    width: 300px;
    height: 300px;
    padding-bottom: 20px;
}

figcaption {
    text-decoration: none;
    text-align: center;
}

figcaption:hover {
    text-decoration: solid;
    color: rgb(255, 157, 71);
}


/*----- Skills -----*/

#skills h2 {
    color: orange;
    text-shadow: 1px 1px 1px black;
}

.skills-container li {
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 80px;
}



/*----- Footer -----*/

footer {
    display: grid;
    text-align: center;
}

/*----- Contacts Page HTML -----*/

.contact-image {
    float: right;
    width: 40%;
}
/*----- Media Query -----*/

@media only screen and (max-width: 999px) {
    .portfolio-item {
        width: auto;
    }
}
